.App {
  text-align: center;
}

.Header{
  background-color: rgb(29,33,33);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.Bar{
  align-self: center;
  margin: 20px;
  padding: 10px;
}

.Body{
  color: #EDEDED;
  background-color: rgb(38,43,43);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Columna{
  display: flex;
  flex-direction: column;
  max-width: 33%;
  margin: 30px;
  padding: 5px;
}

.Contenido{
  background-color: rgb(29,33,33);
  padding: 2px;
  margin: 5px;
}